<div class="form-wrap">

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="TITLE">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="NAME"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="SUBJECT"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="POST"></textarea>
  </mat-form-field>
  <button mat-stroked-button class="new-post-button">Add Post</button>
</form>




</div>
